<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Alata&family=Fredoka+One&family=Poppins:wght@200&display=swap" rel="stylesheet">
    <title>Sasquatch Websightings</title>
</head>
<body>
    <h1 class="headz">Sasquatch Websightings</h1>
    <div class="top1">
        <h2>Welcome {{user.first_name}}</h2>
        <p class="create">
            <a href="/report" class="cbutt">+ Report a Sighting</a> &nbsp; &nbsp; &nbsp;
            <a href="/logout" class="lgbutt">logout</a>
        </p>
    </div>
    
    <div class="recipes">
        <p class="post">All Reported Sightings:</p>
        <table cellspacing="0">
            {% for sighting in sighting%}
            
            <tr>
                <td>
                    Skeptics <br>
                    
                </td>
                <td>
                    {{sighting.location}} = {{sighting.date_of_sighting}} <br>
                    Reported by: {{sighting.first_name}}
                </td>
                <td>
                    <a href="/view/{{sighting.id}}">view</a> 
                    {% if session['user_id'] == sighting.user_id %}
                        | <a href="/edit/{{sighting.id}}">edit</a> | 
                        <a href="/delete/{{sighting.id}}">delete</a>
                        {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>