<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Coding Dojo Wall</title>
</head>
<body>
    <header class="head1">
        <h1>Coding Dojo Wall</h1>
        <h3>Welcome, {{ users.first_name }}</h3>
        <h3><a href="/logout">Log Out</a></h3>
    </header>
    <div class="addpost">
        <form action="">
            <p><label for="post">What's on your mind? Create a new Post:</label> </p><br>
            <textarea name="post" class="post" cols="30" rows="10"></textarea> <br><br>
            <p><input type="submit" value="POST" class="submit1"></p>
        </form>
    </div>
    <div class="posts">
        <h2>Community Posts</h2>
        <div class="allposts">
            <p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p>
            <p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p><p>hello</p>
        </div>

    </div>
</body>
</html>