<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Fredoka+One&family=Poppins:wght@200&display=swap" rel="stylesheet">
    <title>TV Shows</title>
</head>
<body>
    <h1 class="headz">TV Shows</h1>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                            <p class="message">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
    
    <div class="top2">
        <p class="create">
            <a href="/home" class="cbutt">Home</a> &nbsp; &nbsp; &nbsp;
            <a href="/logout" class="lgbutt">logout</a>
        </p>
    </div>
        
    <div class="container3">
        <h2 class="topz">UPDATE TV SHOW</h2>
        <div class="cont">
            <div class="left2">
                <form action="/update" method="POST">
                    <input type="hidden" name="id" value="{{show.id}}">
                    <table class="regform">
                        <tr>
                            <td><label for="title">Title:</label></td>
                            <td><input type="text" name="title" class="recname" value="{{show.title}}"></td>
                        </tr>
                        <tr>
                            <td><label for="description">Show description:</label></td>
                            <td><textarea name="description" class="des" cols="30" rows="10">{{show.description}}</textarea></td>
                        </tr>
                    </table>
            </div>
            <div class="right2">
                    <div class="under30">
                        <label for="network">Network:</label><br>
                        <input type="text" name="network" class="recname" value="{{show.network}}">
                    </div>
                    <div class="datecooked">
                        Date of Release <br>
                        <input type="date" name="release_date" class="date" value="{{show.release_date}}">
                    </div>
                    <div class="submit">
                        <input type="submit" value="Update Show" class="submit3">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
     </div>
</body>
</html>