<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&family=Alata&family=Fredoka+One&family=Poppins:wght@200&display=swap" rel="stylesheet">
    <title>TV Shows</title>
</head>
<body>
    <h1 class="headz">TV Shows</h1>
    <div class="top1">
        <h2>Welcome <span style="color: yellow; text-shadow: 2px 2px 2px black;">{{user.first_name}}</span></h2>
        <p class="create">
            <a href="/home" class="cbutt">Home</a> &nbsp; &nbsp; &nbsp;
            <a href="/logout" class="lgbutt">logout</a>
        </p>
    </div>
    
    <div class="recipes1">
        <h1>{{show.title}}</h1>
        <p>Posted by: &nbsp; &nbsp;{{show_own.first_name}} {{show_own.last_name}}</p>
        <p>Network: &nbsp; &nbsp;{{show.network}}</p>
        <p>Release Date: &nbsp; &nbsp;{{show.release_date}} </p><br><br>
        <p class="uldes">Show description:</p><br>
        <p>{{show.description}}</p>
        
    </div>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
     </div>
</body>
</html>