<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Monoton&family=Quicksand:wght@300&family=Train+One&display=swap" rel="stylesheet">
    <title>Player Info</title>
</head>
<body>
    <header>Player's Info: {{players.first_name}}</header>
    <p class="btn"><a href="/">Home</a></p>
    <div class="container">
        <p>Full Name:  <b>{{players.first_name}} {{players.last_name}} </b></p>
            <br><br>
        <p>Email:  <b>{{players.email}}</b></p>
            <br><br>
        <p>Created On:  <b>{{players.created_at}}</b></p>
            <br><br>
        <p>Last Updated on:  <b>{{players.updated_at}}</b></p>

           <br><br>
            <div class="btmcont">
                <form action="/edit/{{players.id}}">
                    <button class="submit">Edit</button>
                </form>
                <form action="/delete/{{players.id}}">
                    <button class="show">Delete</button>
                </form>
            </div>
    
    </div>
    
</body>
</html>