<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Permanent+Marker&family=Shojumaru&display=swap" rel="stylesheet">
    <title>Ninja Dojos</title>
</head>
<body>
    <header>NINJA DOJOS</header>
    <div class="container">
        <div class="newdj">
            <h1>New Dojos</h1>
            <br>
            <form action="/add_dojo" method="POST">
                <label for="name">New Name:</label>
                <input type="text" name="name" class="inptname">
                    <br><br><br>
                <input type="Submit" value="Create Dojo" class="btncreate">
            </form>
        </div>
        <div class="alldj">
            <h1>All Dojos</h1>
                <br>
            <div class="djlist">
               <ul>
                {% for djlist in dojos %}
                    <li class="dojolist"><a href="/dojos/{{djlist.id}}">{{djlist.name}}</a></li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </div>
    <div class="add">
        <p><a href="/addninja">ADD Ninja</a></p>
    </div>
</body>
</html>