<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}} ">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Permanent+Marker&family=Shojumaru&display=swap" rel="stylesheet">
    <title>Ninjas</title>
</head>
<body>
    <header>{{dojos.name}} NINJAS</header>
   <div class="container3">
   <table>
    <thead>
        <th>
            <tr class="thead">
                <td>First Name</td>
                <td>Last Name</td>
                <td>Age</td>
                <td>Actions</td>
            </tr>
        </th>
    </thead>
    <tbody>
        {% for ninja in dojos.ninjas %}
        <tr>            
            <td>{{ ninja.first_name }}</td>
            <td>{{ ninja.last_name }}</td>
            <td>{{ ninja.age }}</td>
            <td>
                <a href="/edit_ninja/{{ninja.id}}">edit</a> | 
                <a href="/delete/{{ninja.id}}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
   </table>
   </div>
   <div class="add">
    <p><a href="/home">Home</a></p>
</div>
</body>
</html>