<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}} ">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Permanent+Marker&family=Shojumaru&display=swap" rel="stylesheet">
    <title>Ninjas</title>
</head>
<body>
    <header>dojoname NINJAS</header>
   <div class="container3">
   <table>
    <thead>
        <th>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Age</td>
        </th>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
   </table>
   </div>
   <div class="add">
    <p><a href="/home">Home</a></p>
</div>
</body>
</html>