<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Permanent+Marker&family=Shojumaru&display=swap" rel="stylesheet">
</head>
<body>
    <header>NINJA DOJOS</header>
   <div class="container2">
    <h1 class="addhead">Edit Ninja</h1>
        <br>
    <table>
        <form action="/update_ninja" method="POST">
            <tr>
                <td><label for="dojo">Dojo:</label></td>
                <td>
                    <select name="dojo_id" id="">
                       {% for dojos in dojos %}
                       <option selected="{{dojos.id}}">{{dojos.name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
                
            <tr>
                <td><label for="first_name">First Name:</label></td>
                <td><input type="text" name="first_name" id="" value="{{ninja.first_name}}"></td>
            </tr>
            <tr>
                <td><label for="last_name">Last Name:</label></td>
                <td><input type="text" name="last_name" id="" value="{{ninja.last_name}}"></td>
            </tr>
            <tr>
                <td><label for="age">Age:</label></td>
                <td><input type="number" name="age" id="" value="{{ninja.age}}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="UPDATE" class="create"></td>
            </tr>
        
        </form>
    </table>
   </div>
    <div class="add">
    <p><a href="/home">Home</a></p>
    </div>
    <div class="add">
        <p><a href="/dojos/{{ninja.dojo_id}}">Back</a></p>
       
    </div>
</body>
</html>